# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#unique schools
total_schools = school_data_complete["School ID"].nunique()

#unique students
total_students = school_data_complete["Student ID"].nunique()

#total budget
total_budget = school_data["budget"].sum()

#average math score
avg_math = school_data_complete["math_score"].mean()

#average reading score
avg_reading = school_data_complete["reading_score"].mean()

#calculation of percentage passing math
pass_math = school_data_complete[school_data_complete["math_score"]>=70]
pass_math_prc = (pass_math["math_score"].count()/total_students)*100

#calculation of percentage passing reading
pass_reading = school_data_complete[school_data_complete["reading_score"]>=70]
pass_reading_prc = (pass_reading["reading_score"].count()/total_students)*100

#overall passing rate
total_pass = (avg_math + avg_reading)/2

#created dataframe with all above data
d_summary = pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_math],
    "Average Reading Score":[avg_reading],
    "% Passing Math":[pass_math_prc],
    "% Passing Reading":[pass_reading_prc],
    "% Overall Passing Rate":[total_pass]})

#formatting
d_summary["Total Students"]=d_summary["Total Students"].map("{:,}".format)
d_summary["Total Budget"]=d_summary["Total Budget"].map("${:,.2f}".format)

d_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
#groups by school
by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

#school types
types = school_data.set_index('school_name')['type']

# total students by school
students = by_school['Student ID'].count()

# school budget
budget = school_data.set_index('school_name')['budget']

#per student budget
stu_budget = budget/students

#avg scores by school
avg_math = by_school['math_score'].mean()
avg_read = by_school['reading_score'].mean()

# % passing scores
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students
overall = (pass_math+pass_read)/2

#creating a dataframe
sch_summary = pd.DataFrame({
    "School Type": types,
    "Total Students": students,
    "Per Student Budget": stu_budget,
    "Total School Budget": budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "Overall Passing Rate": overall})

#formatting
sch_summary["Total Students"]=sch_summary["Total Students"].map("{:,}".format)
sch_summary["Total School Budget"]=sch_summary["Total School Budget"].map("${:,.2f}".format)
sch_summary["Per Student Budget"]=sch_summary["Per Student Budget"].map("${:.2f}".format)
sch_summary["Average Math Score"]=sch_summary["Average Math Score"].map("{:.2f}".format)
sch_summary["Average Reading Score"]=sch_summary["Average Reading Score"].map("{:.2f}".format)
sch_summary["% Passing Math"]=sch_summary["% Passing Math"].map("{:.3%}".format)
sch_summary["% Passing Reading"]=sch_summary["% Passing Reading"].map("{:.3%}".format)
sch_summary["Overall Passing Rate"]=sch_summary["Overall Passing Rate"].map("{:.3%}".format)

top_schools=sch_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.head(5)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,"1,858",$582.00,"$1,081,356.00",83.06,83.98,94.133%,97.040%,95.587%
Thomas High School,Charter,"1,635",$638.00,"$1,043,130.00",83.42,83.85,93.272%,97.309%,95.291%
Pena High School,Charter,962,$609.00,"$585,858.00",83.84,84.04,94.595%,95.946%,95.270%
Griffin High School,Charter,"1,468",$625.00,"$917,500.00",83.35,83.82,93.392%,97.139%,95.266%
Wilson High School,Charter,"2,283",$578.00,"$1,319,574.00",83.27,83.99,93.868%,96.540%,95.204%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [4]:
worst_schools=sch_summary.sort_values("Overall Passing Rate", ascending=True)
worst_schools.head(5)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,"3,999",$637.00,"$2,547,363.00",76.84,80.74,66.367%,80.220%,73.293%
Figueroa High School,District,"2,949",$639.00,"$1,884,411.00",76.71,81.16,65.988%,80.739%,73.364%
Huang High School,District,"2,917",$655.00,"$1,910,635.00",76.63,81.18,65.684%,81.316%,73.500%
Johnson High School,District,"4,761",$650.00,"$3,094,650.00",77.07,80.97,66.058%,81.222%,73.640%
Ford High School,District,"2,739",$644.00,"$1,763,916.00",77.10,80.75,68.310%,79.299%,73.804%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [5]:
#extracting data from each year that is grouped by school and calculating mean
nine=student_data.loc[student_data["grade"]=="9th"].groupby("school_name")["math_score"].mean()
ten=student_data.loc[student_data["grade"]=="10th"].groupby("school_name")["math_score"].mean()
eleven=student_data.loc[student_data["grade"]=="11th"].groupby("school_name")["math_score"].mean()
twelve=student_data.loc[student_data["grade"]=="12th"].groupby("school_name")["math_score"].mean()

#creating dataframe with above info
math_scores=pd.DataFrame({"9th Grade":nine,
                         "10th Grade":ten,
                         "11th Grade":eleven,
                         "12th Grade":twelve})
#formatting
math_scores["9th Grade"]=math_scores["9th Grade"].map("{:.2f}%".format)
math_scores["10th Grade"]=math_scores["10th Grade"].map("{:.2f}%".format)
math_scores["11th Grade"]=math_scores["11th Grade"].map("{:.2f}%".format)
math_scores["12th Grade"]=math_scores["12th Grade"].map("{:.2f}%".format)
math_scores

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [6]:
#extracting data from each year that is grouped by school and calculating mean
nine=student_data.loc[student_data["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
ten=student_data.loc[student_data["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
eleven=student_data.loc[student_data["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
twelve=student_data.loc[student_data["grade"]=="12th"].groupby("school_name")["reading_score"].mean()

#creating dataframe with above info
reading_scores=pd.DataFrame({"9th Grade":nine,
                         "10th Grade":ten,
                         "11th Grade":eleven,
                         "12th Grade":twelve})

#formatting
reading_scores["9th Grade"]=reading_scores["9th Grade"].map("{:.2f}%".format)
reading_scores["10th Grade"]=reading_scores["10th Grade"].map("{:.2f}%".format)
reading_scores["11th Grade"]=reading_scores["11th Grade"].map("{:.2f}%".format)
reading_scores["12th Grade"]=reading_scores["12th Grade"].map("{:.2f}%".format)
reading_scores

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [7]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [8]:
#creating new DF
by_spending=pd.DataFrame({
    "Per Student Budget":stu_budget,
    "Average Math Score":avg_math,
    "Average Reading Score":avg_read,
    "% Passing Math":pass_math,
    "% Passing Reading":pass_read,
    "Overall Passing Rate":overall
})

#breaking down to bins
by_spending["Spending Ranges (Per Student)"]=pd.cut(by_spending["Per Student Budget"],spending_bins,labels=group_names)

#grouping by new bin column
by_spending=by_spending.groupby("Spending Ranges (Per Student)")["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"].mean()

#formatting
by_spending["% Passing Math"]=by_spending["% Passing Math"].map("{:.2%}".format)
by_spending["% Passing Reading"]=by_spending["% Passing Reading"].map("{:.2%}".format)
by_spending["Overall Passing Rate"]=by_spending["Overall Passing Rate"].map("{:.2%}".format)

by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.46%,96.61%,95.04%
$585-615,83.599686,83.885211,94.23%,95.90%,95.07%
$615-645,79.079225,81.891436,75.67%,86.11%,80.89%
$645-675,76.997210,81.027843,66.16%,81.13%,73.65%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [10]:
#creating new DF
by_size=pd.DataFrame({
    "School Size":students,
    "Average Math Score":avg_math,
    "Average Reading Score":avg_read,
    "% Passing Math":pass_math,
    "% Passing Reading":pass_read,
    "Overall Passing Rate":overall
})

#breaking down to bins
by_size["School Size"]=pd.cut(by_size["School Size"],size_bins,labels=group_names)

#grouping by new bin column
by_size=by_size.groupby("School Size")["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"].mean()

#formatting
by_size["% Passing Math"]=by_size["% Passing Math"].map("{:.2%}".format)
by_size["% Passing Reading"]=by_size["% Passing Reading"].map("{:.2%}".format)
by_size["Overall Passing Rate"]=by_size["Overall Passing Rate"].map("{:.2%}".format)

by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.55%,96.10%,94.82%
Medium (1000-2000),83.374684,83.864438,93.60%,96.79%,95.20%
Large (2000-5000),77.746417,81.344493,69.96%,82.77%,76.36%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [11]:
#creating new DF
by_type=pd.DataFrame({
    "School Type":types,
    "Average Math Score":avg_math,
    "Average Reading Score":avg_read,
    "% Passing Math":pass_math,
    "% Passing Reading":pass_read,
    "Overall Passing Rate":overall
})

#grouping by new bin column
by_type=by_type.groupby("School Type")["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"].mean()

#formatting
by_type["% Passing Math"]=by_type["% Passing Math"].map("{:.2%}".format)
by_type["% Passing Reading"]=by_type["% Passing Reading"].map("{:.2%}".format)
by_type["Overall Passing Rate"]=by_type["Overall Passing Rate"].map("{:.2%}".format)

by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.62%,96.59%,95.10%
District,76.956733,80.966636,66.55%,80.80%,73.67%